.loader {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    background: #6b6b6b38;
    flex-direction: column;
    z-index: 999999;
  }
  .loader > p {
    color: #ee1f69;
  }